.exp-card {
  position: relative;
  background: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  text-align: justify;
  box-shadow: 0px 3px 6px #c9c9c9;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    margin: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  // Card à gauche → flèche pointe à droite
  &.left::after {
    right: -10px;
    border-left: 10px solid #e8e8ed;
  }

  // Card à droite → flèche pointe à gauche
  &.right::after {
    left: -10px;
    border-right: 10px solid #e8e8ed;
  }

  .title {
    display: flex;
    flex-direction: column;

    h3{
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 1.2rem;
      color: #333;
    }
    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 1rem;
      color: #666;
    }

    h5{
      margin-top: 0px;
    }
  }
}