.logo-suite{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}

.logo-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    border-radius: 25%;
    transition: transform 0.3s ease;

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        border-radius: 0% !important;
        margin-right: 0 !important; 
    }
}

.logo-button:hover {
    background: linear-gradient(90deg, rgba(96, 37, 245, 0.2), rgba(255, 85, 85, 0.2));
    transform: rotate(12deg) scale(1.1);
}